body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  height: 100vh;
  font-family: monospace;
  color: aliceblue;
  background: linear-gradient(-45deg, #ee714b, #e95d93, #36b5e4, #3adab4);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-holder {
  margin: 10px auto;
  padding: 5px;
  width: 90%;
  max-width: 800px;
  border: 2px solid rgb(81, 80, 128);
  border-radius: 10px;
  background-color: rgb(76, 75, 126);
  border-bottom: 4px solid rgb(67, 66, 114);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding: 0;
}

li {
  margin: 4px;
  padding: 6px;
  list-style: none;
  background-color: #e27aa0;
  border-radius: 4px;
}

li:hover {
  background-color: #dd7198;
}

a {
  margin: 0 10px 0 0;
  color: coral;
  border: 1px solid coral;
  padding: 1px 6px;
  text-decoration: none;
}

/* a:hover {
  background-color: rgb(255, 127, 42);
  color: black; */
.edit_input {
  margin: 10px;
  width: calc(100% - 180px);
  height: 25px;
  text-align: center;
}

#content_input {
  margin: 0 auto;
  display: block;
  padding: 5px;
  border-radius: 6px;
  width: 90%;
  text-align: center;
}

input[type="submit"] {
  margin: 0 auto;
  display: block;
  padding: 5px 0;
  width: 60%;
  height: 30px;
  /* background-color: rgb(197, 236, 205); */
  border: none;
  letter-spacing: 10px;
  color: rgb(76, 75, 126);
  font-weight: 700;

  background: linear-gradient(-45deg, #ee714b, #e95d93, #36b5e4, #3adab4);
  background-size: 200% 200%;
  animation: Gradient 15s ease infinite;
  transition: 200ms linear;
  border-bottom: 2px solid rgb(46, 46, 46);
}

input[type="submit"]:hover {
  box-sizing: border-box;

  background-color: rgb(255, 144, 144);
  border: 2px solid wheat;
  transition: 200ms linear;
  cursor: pointer;
}

select {
  margin: 0 0 0 17px;
}

h3 {
  text-align: center;
  letter-spacing: 7px;
  font-size: 20px;
}

button {
  margin: 0 5px 0 0;
  background-color: rgb(255, 238, 206);
  border: none;
  border-radius: 4px;
  color: rgb(76, 75, 126);
}
button:hover {
  background-color: rgb(157, 180, 255);
  transition: 100ms linear;
}

.label_elements {
  padding: 5px;
  box-sizing: border-box;
  height: 90px;
}
